<div class="footer_wrap fl_r" style="width: 795px;">
    <div class="footer_nav">
        <div class="footer_copy fl_l">
            &copy;&nbsp;<%- new Date().getFullYear() %>&nbsp;<a href="https://cinemapress.io" target="_blank">CinemaPress</a>
        </div>
    </div>
</div>

<div id="stl_left" class="stl_active over over_fast" style="display: block;" onclick="animateToTop(event);">
    <div id="stl_bg">
        <nobr id="stl_text"><%- page.l.up %></nobr>
    </div>
</div>
<script>
    function animateToTop(e) {
        e.preventDefault();
        var scrollToTop = window.setInterval(function() {
            var pos = window.pageYOffset;
            if ( pos > 0 ) {
                window.scrollTo( 0, pos - 20 );
            } else {
                window.clearInterval( scrollToTop );
            }
        }, 4);
    }
</script>

<%- page.codes.footer %>