<div class="footer_wrap fl_r" style="width: 795px;">
    <div class="footer_nav">
        <div class="footer_copy fl_l"><a href="https://cinemapress.org" target="_blank">CinemaPress ACMS</a> © 2016</div>
    </div>
</div>

<%- page.codes.footer %>