<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<meta name=viewport content="width=device-width, initial-scale=1">

<title><%= page.title %></title>
<meta name="description" content="<%= page.description %>">

<link rel="shortcut icon" href="/themes/joffrey/public/favicon.ico"/>
<link rel="stylesheet" type="text/css" href="/themes/joffrey/public/css/all.css">

<%- page.codes.head %>